/*Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');


/*Asterisk wildcard used to override browser default styles*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #000000;
    font-family: "Julius Sans One", sans-serif;
    
}

/*Header*/
header {
    background-color: #ffcc8f;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px #000000;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
   }

/*Remove hyperlink from header*/
header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: "Julius Sans One", sans-serif;
    text-transform: capitalize;
    letter-spacing: 2px;
    color: #68a8f1;
    text-emphasis: bold;
    text-align: center;
}

#heading {
    font-size: 200%;
}

#heading-two {
    font-size: 100%;
    text-transform: lowercase;
    text-align: center;
    color: #68a8f1;
}
/*style the nav*/
#nav-bar {
    font-size: large;
    letter-spacing: 4px;
    list-style-type: none;
    color: inherit;
    }

/*add space between nav columns*/
#nav-bar > li {
    margin-bottom: 1em;
}

.hover {
    background-color: yellow;
}

nav {
    position: absolute;
    background-color: #ffcc8f;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #000000;
    display: none;
    top: 100%;
}

/*dropdown*/
#dropdown:checked~nav {
    display: block;
}

#dropdown {
    display: none;
}

.dropdown-label {
    font-size: 2rem;
}
/*Main Content*/
main {
    background-color: aqua;
    /*push header down to allow space for nav items*/
    margin-top: 47px;
}
/*Footer*/
footer {
    background-color: goldenrod;
}