/*Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');



/*Asterisk wildcard used to override browser default styles*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #000000;
    font-family: "comfortaa", sans-serif;
    
}

/*Header*/
header {
    background-color: #ffcc8f;
    margin-bottom: 20px;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px #000000;
    /*move x to top right corner*/
    display: flex;
    justify-content: space-between;
    align-items: baseline;
   }

/*Remove hyperlink from header*/
header a {
    text-decoration: none;
    color: inherit;
    }

h1 {
    font-family: "Julius Sans One", sans-serif;
    text-transform: capitalize;
    letter-spacing: 2px;
    color: #68a8f1;
    text-emphasis: bold;
    text-align: center;
}

#heading {
    font-size: 200%;
}

#heading-two {
    font-size: 100%;
    text-transform: lowercase;
    text-align: center;
    color: #68a8f1;
}
/*style the nav*/
#nav-bar {
    font-size: large;
    letter-spacing: 4px;
    list-style-type: none;
    color: inherit;
    font-weight: bold;
    }

/*add space between nav columns*/
#nav-bar > li {
    margin-bottom: 2em;
}

.hover {
    background-color: #68a8f1;
}

nav {
    position: absolute;
    background-color: #ffcc8f;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #000000;
    display: none;
    top: 100%;
}

/*dropdown*/
#dropdown:checked~nav {
    display: block;
}

#dropdown {
    display: none;
}

.dropdown-label {
    font-size: 2rem;
}
/*Main Content*/
main {
   /*push footer down by enlargin main element*/
    flex: auto;
    /*push header down to allow space for nav items*/
    margin-top: 49px;
}

.headingtwo {
    text-align: center;
    text-emphasis: bold;
    font-size: 250%;
    margin-top: 20px;
}

#picture {
    width: 100%;
    height:auto;
   }


/*explained section*/
#explained {
    display: flex;
}
/*Generic footer style*/
footer {
    background-color: #ffcc8f;
    width: 100%;
    height: 40px;
    align-content: center;
    
}



#footer-icon {
    background-color: #ffcc8f;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
   }

/*media query for tablets and larger*/
@media screen and (min-width: 768px) {
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #nav-bar {
        /*showing nav bar list in a row*/
        display: flex;
    }

    /*add space between nav items*/
    #nav-bar > li {
        padding-left: 1rem;
        word-wrap: normal;
    }

    /*hide the x*/
    .dropdown-label {
        display: none;
    }

    #heading {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /*Main content*/
    main {
        margin-top: 95px;
    }

/*Explained section*/
#practice,
#principles,
#explained-image {
    display: flex;
    flex-direction: column;
    width: 100%;
    }

    #practice > div,
    #principles > div,
    #explained-image > div {
        width: 80%;
       }
        
        #principles > div {
            text-align: end;
            align-self: flex-end;
        }
}

/*Large devices (laptops and desktops, 992px and up)*/
@media screen and (min-width: 992px) {
    #nav-bar a:hover {
        background-color: #68a8f1;
    }
}

